Repository kumo-earth/kumo-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

CI attempt
  .github/workflows/release.yml
Due: none

CI Attempt
  .github/workflows/release.yml
Due: none

CI attempt
  .github/workflows/release.yml
  packages/dev-frontend/tests/e2e/specs/connect-wallet-spec.js
Due: npx prettier --check

CI attempt
  packages/dev-frontend/tests/e2e/specs/connect-wallet-spec.js
Due: npx prettier --check

CI Attempt
  packages/dev-frontend/synpress.config.js
  packages/dev-frontend/tests/e2e/specs/connect-wallet-spec.js
Due: npx prettier --check

CI Impr Attempt
  packages/dev-frontend/tests/e2e/specs/connect-wallet-spec.js
Due: npx prettier --check

CI Improve Attempt
  .github/workflows/release.yml
Due: none

synpress integration with github workflow
  packages/dev-frontend/.env
  packages/dev-frontend/.env.local
  packages/dev-frontend/package.json
  packages/lib-ethers/test/MultiAssetFrontend.test.ts
Due: npx prettier --check

workflow updated
  .github/workflows/release.yml
Due: none

Revert "workflow updated"
  .github/workflows/release.yml
Due: none

synpress integration with github workflow
  .github/workflows/release.yml
  package.json
  packages/dev-frontend/.env
  packages/dev-frontend/.env.local
  packages/dev-frontend/package.json
  packages/dev-frontend/synpress.config.js
  packages/dev-frontend/tests/.eslintrc.js
  packages/dev-frontend/tests/e2e/specs/connect-wallet-spec.js
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js-compressed.mp4
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js.mp4
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js.mp4.meta
  packages/dev-frontend/tests/support/command.js
  packages/dev-frontend/tests/support/index.js
  packages/dev-frontend/tests/tsconfig.json
  packages/lib-base/src/constants.ts
  packages/lib-ethers/abi/KumoFaucet.json
  packages/lib-ethers/types/index.ts
  yarn.lock
Due: npx prettier --check

Add test
  packages/contracts/test/TroveManagerTest.js
Due: npx prettier --check

SDK tests fixed
  packages/dev-frontend/.env
  packages/lib-ethers/abi/ActivePool.json
  packages/lib-ethers/test/MultiAssetGasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/MultiAssetRedemption.test.ts
  packages/lib-ethers/test/MultiAssetRedemptionGasChecks.test.ts
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

Fix test
  packages/lib-ethers/test/MultiAssetHintsAdjustTrove.test.ts
Due: npx prettier --check

Change order for Troves and rewardSnapshot
  packages/contracts/contracts/Facets/TroveManagerFacet.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/contracts/Libraries/LibTroveManager.sol
  packages/contracts/contracts/MultiTroveGetter.sol
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/SortedTrovesTest.js
  packages/contracts/test/StabilityPoolTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/TroveManager_LiquidationRewardsTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/test/TroveManager_RecoveryMode_Batch_Liqudation_Test.js
  packages/contracts/test/stakeDeclineTest.js
  packages/contracts/utils/testHelpers.js
  packages/lib-ethers/abi/KumoFaucet.json
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/src/ReadableEthersKumo.ts
  packages/lib-ethers/types/index.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

removed unused variables
  packages/contracts/test/ConnectContractsTestMultiAsset.js
  packages/contracts/test/MutiAssetTest/BorrowerOperations.js
  packages/contracts/test/MutiAssetTest/StabilityPool.js
  packages/contracts/test/MutiAssetTest/TroveManager.js
Due: npx prettier --check

Add test for decaying base rate
  packages/contracts/test/TroveManagerTest.js
Due: npx prettier --check

added more UI tests
  packages/dev-frontend/src/components/Banner.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositManager.tsx
  packages/dev-frontend/synpress.config.js
  packages/dev-frontend/tests/e2e/specs/kumo-app-e2e-testing.js
  yarn.lock
Due: npx prettier --check

removed extra files
  packages/dev-frontend/tests/e2e/specs/connect-wallet-spec.js
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js-compressed.mp4
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js.mp4
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js.mp4.meta
Due: npx prettier --check

Refactor _computeCR
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Dependencies/KumoBase.sol
  packages/contracts/contracts/Dependencies/KumoMath.sol
  packages/contracts/contracts/Facets/CDPManagerTesterFacet.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/contracts/HintHelpers.sol
  packages/contracts/contracts/Libraries/LibKumoBase.sol
  packages/contracts/contracts/Libraries/LibTroveManager.sol
  packages/contracts/contracts/TestContracts/EchidnaTester.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Added system-wide recovery mode
  packages/contracts/contracts/Dependencies/KumoBase.sol
  packages/contracts/contracts/Interfaces/IKumoBase.sol
  packages/contracts/contracts/Interfaces/IKumoParameters.sol
  packages/contracts/contracts/Interfaces/IPriceFeed.sol
  packages/contracts/contracts/KumoParameters.sol
  packages/contracts/contracts/Libraries/LibKumoBase.sol
  packages/contracts/contracts/PriceFeed.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

liqiudation test added
  packages/dev-frontend/src/components/PriceManager.tsx
  packages/dev-frontend/src/components/RiskyTroves.tsx
  packages/dev-frontend/tests/e2e/specs/kumo-app-e2e-testing.js
Due: npx prettier --check

added nav and dashboard header values tests
  packages/dev-frontend/tests/e2e/specs/kumo-app-e2e-testing.js
Due: npx prettier --check

Fix SDK tests
  packages/lib-ethers/abi/KumoParameters.json
  packages/lib-ethers/abi/PriceFeed.json
  packages/lib-ethers/test/MultiAssetHintsAdjustTrove.test.ts
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

Add test for system-wide recovery mode
  packages/contracts/test/TroveManagerTest.js
Due: npx prettier --check

Add REDEMPTION_FEE_FLOOR and BORROWING_FEE_FLOOR test
  packages/contracts/test/TroveManagerTest.js
  packages/lib-ethers/test/MultiAssetHintsAdjustTrove.test.ts
Due: npx prettier --check

fixed initial warnings wip
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/AddAssetToken/AddAssetAction.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/dev-frontend/src/hooks/useViewBanner.ts
  packages/lib-base/src/KumoStore.ts
  packages/lib-ethers/src/ObservableEthersKumo.ts
  packages/lib-ethers/src/ReadableEthersKumo.ts
  packages/lib-ethers/src/SendableEthersKumo.ts
Due: npx prettier --check

CI set back true to test SDK and UI warnings
  .github/workflows/release.yml
Due: none

fixed SDK and UI build warnings and enable CI true
  .github/workflows/release.yml
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/AddAssetToken/AddAssetAction.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/dev-frontend/src/hooks/useViewBanner.ts
  packages/lib-base/src/KumoStore.ts
  packages/lib-ethers/src/ObservableEthersKumo.ts
  packages/lib-ethers/src/ReadableEthersKumo.ts
  packages/lib-ethers/src/SendableEthersKumo.ts
Due: npx prettier --check

Uncomment emitting event
  packages/contracts/contracts/KumoParameters.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Test
  packages/contracts/test/MutiAssetTest/BorrowerOperations.js
Due: npx prettier --check

Review fixes
  packages/contracts/contracts/Dependencies/KumoBase.sol
  packages/contracts/contracts/Dependencies/KumoMath.sol
  packages/contracts/contracts/Interfaces/IKumoParameters.sol
  packages/contracts/contracts/KumoParameters.sol
  packages/contracts/contracts/Libraries/LibKumoBase.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

New files after `yarn`
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

Commenting KUMOToken-related code
  packages/contracts/contracts/KUMO/CommunityIssuance.sol
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/KUMO/KUMOToken.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Path conditions:
  npx solhint --config ./packages/contracts/.solhint.json: any of: *.sol
  npx prettier --check: any of: *.{js,ts}
