Repository kumo-earth/kumo-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

fix(js): fixed concat-stream 404 Not Found error in subgraph package
  packages/subgraph/package.json
  yarn.lock
Due: none

build: update user-event dep
  packages/dev-frontend/package.json
Due: none

build: ugrade react dependencies
  package.json
  yarn.lock
Due: none

test: skipped flaky tests until fixed in dev-chain env
  packages/dev-frontend/tests/e2e/specs/kumo-app-e2e-testing.js
Due: npx prettier --check

fix: upgraded @synthetixio/synpress package to fix webpack error
  package.json
  packages/dev-frontend/package.json
  yarn.lock
Due: none

chore(js): remove front-end tags from dev-frontend package
  packages/dev-frontend/.env
  packages/dev-frontend/src/components/Stability/StabilityDepositAction.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositManager.tsx
  packages/dev-frontend/src/components/Stability/validation/validateStabilityDepositChange.tsx
  packages/dev-frontend/src/config/index.ts
  packages/dev-frontend/src/hooks/KumoContext.tsx
  packages/dev-frontend/src/pages/FrontendRegistration.tsx
  packages/dev-frontend/src/pages/FrontendRegistrationSuccess.tsx
  packages/dev-frontend/src/pages/PageSwitcher.tsx
  packages/dev-frontend/src/pages/UnregisteredFrontend.tsx
  packages/lib-base/test/StabilityDeposit.test.ts
Due: npx prettier --check

chore(js): remove front-end tags from `contracts` tests
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/ProxyBorrowerWrappersScript.js
  packages/contracts/test/StabilityPool_KUMOIssuanceTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/test/TroveManager_RecoveryMode_Batch_Liqudation_Test.js
Due: npx prettier --check

feat(sol): remove front-end related code
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/Proxy/StabilityPoolScript.sol
  packages/contracts/contracts/StabilityPool.sol
  packages/contracts/contracts/TestContracts/EchidnaProxy.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(js): remove SP front-end from SP tests
  packages/contracts/test/StabilityPoolTest.js
  packages/contracts/utils/testHelpers.js
Due: npx prettier --check

feat(sol): make `_updateDepositAndSnapshots` also update staking snapshots
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove unused event
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol)!: move external functions and variables from KUMOStaking to StabilityPool
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

refactor(sol): add `_increaseKUSD` for consistency
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

refactor(sol): transform local variables into a struct
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): add a separate tracker for KUSD gains and helper functions
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

fix(sol): asset balance didn't increase after fee were sent to SP
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): merge `_getPendingAssetGain` from KUMOStaking with `_getAssetGainFromSnapshots`
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove redundant line
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): add KUSD gains withdraw
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol)!: send fees to SP instead of KUMOStaking
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): comment out KUMOStaking
  packages/contracts/contracts/Interfaces/IKUMOStaking.sol
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/Proxy/KUMOStakingScript.sol
  packages/contracts/contracts/TestContracts/KUMOStakingTester.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore: upgrade all workspace packages
  package.json
  packages/contracts/package.json
  packages/dev-frontend/package.json
  packages/dev-frontend/webpack.config.js
  packages/examples/package.json
  packages/fuzzer/package.json
  packages/lib-base/.eslintrc.json
  packages/lib-base/package.json
  packages/lib-ethers/.eslintrc.json
  packages/lib-ethers/package.json
  packages/lib-react/package.json
  packages/lib-subgraph/package.json
  packages/providers/package.json
  packages/subgraph/package.json
  yarn.lock
Due: npx prettier --check

fix: fixed typescript error
  packages/lib-base/etc/lib-base.api.md
  packages/lib-base/src/KumoStore.ts
Due: npx prettier --check

fix: typescripts errors fixed
  packages/lib-ethers/abi/ERC20Test.json
  packages/lib-ethers/etc/lib-ethers.api.md
  packages/lib-ethers/src/PopulatableEthersKumo.ts
  packages/lib-ethers/src/ReadableEthersKumo.ts
  packages/lib-ethers/src/_utils.ts
  packages/lib-ethers/src/contracts.ts
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

feat(sol)!: move getDeploymentStartTime to KUSDToken
  packages/contracts/contracts/Interfaces/IKUMOToken.sol
  packages/contracts/contracts/Interfaces/IKUSDToken.sol
  packages/contracts/contracts/KUMO/KUMOToken.sol
  packages/contracts/contracts/KUSDToken.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): linting
  packages/contracts/contracts/KUMO/LockupContract.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sdk): generated types and abi
  packages/lib-ethers/abi/KUMOToken.json
  packages/lib-ethers/abi/KUSDToken.json
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

fix(test): disable tests for fixing them in KIP-3
  packages/contracts/test/AccessControlTest.js
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/KUMOStakingFeeRewardsTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/launchSequenceTest/DeployKUMOContractsTest.js
Due: npx prettier --check

fix: call `getDeploymentStartTime` from KUSDToken
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/contracts/KUMO/LockupContract.sol
  packages/contracts/mainnetDeployment/mainnetDeployment.js
  packages/contracts/test/AccessControlTest.js
  packages/contracts/test/launchSequenceTest/DeployAndFundLCsTest.js
  packages/contracts/test/launchSequenceTest/DuringLockupPeriodTest.js
  packages/contracts/test/launchSequenceTest/PostLockupPeriodTest.js
  packages/contracts/utils/testHelpers.js
  packages/lib-ethers/test/MultiAssetTrove.tests.ts
  packages/lib-ethers/utils/deploy.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

build: fix according to yarn instructions
  packages/dev-frontend/package.json
  yarn.lock
Due: none

chore(sol): remove unused function
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove KUMO-token related code
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol)!: remove KUMO issuance from SP
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

ci: make branches explicit and use types
  .github/workflows/generic-skip.yaml
  .github/workflows/release.yml
  .github/workflows/test-contracts.yml
Due: none

chore(sol): remove G from SP
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Path conditions:
  npx solhint --config ./packages/contracts/.solhint.json: any of: *.sol
  npx prettier --check: any of: *.{js,ts}
