Repository kumo-earth/kumo-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

docs: add readme file
  packages/contracts/README.md
Due: none

chore(hh): remove dead code
  packages/contracts/hardhat.config.js
Due: npx prettier --check

docs: Improve readme WIP DO NOT MERGE
  packages/contracts/README.md
Due: none

ci: restricting SDK build runs
  .github/workflows/generic-skip.yaml
  .github/workflows/release.yml
  .github/workflows/test-contracts.yml
Due: none

docs: add first version of coding standards
  README.md
  docs/coding-standards.md
Due: none

test: skip the specific test for future fix
  packages/dev-frontend/tests/e2e/specs/kumo-app-e2e-testing.js
Due: npx prettier --check

ci: testing for generic skip rule
  .github/workflows/generic-skip.yaml
  .github/workflows/test-contracts.yml
Due: none

chore(ci): file change for trigger
  .github/workflows/generic-skip.yaml
  .github/workflows/test-contracts.yml
  packages/contracts/contracts/ActivePool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

build: add husky, lint-staged, prettier
  package.json
  yarn.lock
Due: none

build: extend prettier settings
  .prettierignore
  .prettierrc.json
  .prettierrc.yml
Due: none

build: postinstall and lint-staged
  .husky/pre-commit
  package.json
Due: none

build: husky script for commit linting
  .husky/commit-msg
  .prettierignore
  package.json
  yarn.lock
Due: none

build: add solhint to contracts package
  .solhint.json
  package.json
  packages/contracts/package.json
  yarn.lock
Due: none

feat(sol): remove front-end related code
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/Proxy/StabilityPoolScript.sol
  packages/contracts/contracts/StabilityPool.sol
  packages/contracts/contracts/TestContracts/EchidnaProxy.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Remove front-end tags from dev-frontend package
  packages/dev-frontend/.env
  packages/dev-frontend/src/components/Stability/StabilityDepositAction.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositManager.tsx
  packages/dev-frontend/src/components/Stability/validation/validateStabilityDepositChange.tsx
  packages/dev-frontend/src/config/index.ts
  packages/dev-frontend/src/hooks/KumoContext.tsx
  packages/dev-frontend/src/pages/FrontendRegistration.tsx
  packages/dev-frontend/src/pages/FrontendRegistrationSuccess.tsx
  packages/dev-frontend/src/pages/PageSwitcher.tsx
  packages/dev-frontend/src/pages/UnregisteredFrontend.tsx
  packages/lib-base/test/StabilityDeposit.test.ts
Due: npx prettier --check

Remove SP front-end from StabilityPoolTest
  packages/contracts/test/StabilityPoolTest.js
  packages/contracts/utils/testHelpers.js
Due: npx prettier --check

Remove front-end tags from `contracts` tests
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/ProxyBorrowerWrappersScript.js
  packages/contracts/test/StabilityPool_KUMOIssuanceTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/test/TroveManager_RecoveryMode_Batch_Liqudation_Test.js
Due: npx prettier --check

feat(sol): merge `_getPendingAssetGain` from KUMOStaking with `_getAssetGainFromSnapshots`
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): make `_updateDepositAndSnapshots` also update staking snapshots
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): add a separate tracker for KUSD gains and helper functions
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove redundant line
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol)!: send fees to SP instead of KUMOStaking
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): add KUSD gains withdraw
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove unused event
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

refactor(sol): transform local variables into a struct
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol)!: move external functions and variables from KUMOStaking to StabilityPool
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

fix(sol): asset balance didn't increase after fee were sent to SP
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

refactor(sol): add `_increaseKUSD` for consistency
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): comment out KUMOStaking
  packages/contracts/contracts/Interfaces/IKUMOStaking.sol
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/Proxy/KUMOStakingScript.sol
  packages/contracts/contracts/TestContracts/KUMOStakingTester.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

fix: fixed build, failed package dependency in subgraph
  package.json
  packages/subgraph/package.json
  yarn.lock
Due: none

fix: wrong metamask test account selection issue fixed
  packages/dev-frontend/package.json
  packages/dev-frontend/tests/e2e/specs/kumo-app-e2e-testing.js
  yarn.lock
Due: npx prettier --check

fix(js): add resolution for cypress and use the beta version in dev-frontend
  package.json
  packages/dev-frontend/package.json
  yarn.lock
Due: none

fix(js): change identificators of test users in a test
  packages/dev-frontend/tests/e2e/specs/kumo-app-e2e-testing.js
Due: npx prettier --check

Path conditions:
  npx solhint --config ./packages/contracts/.solhint.json: any of: *.sol
  npx prettier --check: any of: *.{js,ts}
