Repository kumo-earth/kumo-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

WIP: test CI
  packages/contracts/contracts/ActivePool.sol
  packages/examples/package.json
Due: npx solhint --config ./packages/contracts/.solhint.json

docs(contracts): add minimal docs
  packages/contracts/README.md
Due: none

build: fix according to yarn instructions
  packages/dev-frontend/package.json
  yarn.lock
Due: none

ci: specify updated node version
  .github/workflows/release.yml
  .github/workflows/test-contracts.yml
Due: none

chore: vite integration to fix upgraded webpack compilation issues
  packages/dev-frontend/.env.local
  packages/dev-frontend/index.html
  packages/dev-frontend/src/App.tsx
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/Redemption/Redemption.tsx
  packages/dev-frontend/src/components/Redemption/RedemptionManager.tsx
  packages/dev-frontend/src/components/SwitchNetwork/SwitchNetwork.tsx
  packages/dev-frontend/src/components/WalletConnect/WalletModal.tsx
  packages/dev-frontend/src/config/index.ts
  packages/dev-frontend/src/connectors/injectedConnector.ts
  packages/dev-frontend/src/env.d.ts
  packages/dev-frontend/src/hooks/KumoContext.tsx
  packages/dev-frontend/src/hooks/useSwitchNetwork.ts
  packages/dev-frontend/src/index.tsx
  packages/dev-frontend/src/pages/Dashboard.tsx
  packages/dev-frontend/src/pages/PageSwitcher.tsx
  packages/dev-frontend/tests/e2e/specs/kumo-app-e2e-testing.js
  packages/dev-frontend/tsconfig.json
  packages/dev-frontend/tsconfig.node.json
  packages/dev-frontend/vite.config.ts
  packages/dev-frontend/webpack.config.js
  packages/lib-ethers/src/BlockPolledKumoStore.ts
  yarn.lock
Due: npx prettier --check

chore: update node version in .nvmrc
  .nvmrc
  .prettierignore
Due: none

fix: typescripts errors fixed
  packages/lib-ethers/abi/ERC20Test.json
  packages/lib-ethers/etc/lib-ethers.api.md
  packages/lib-ethers/src/PopulatableEthersKumo.ts
  packages/lib-ethers/src/ReadableEthersKumo.ts
  packages/lib-ethers/src/_utils.ts
  packages/lib-ethers/src/contracts.ts
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

fix: fixed typescript error
  packages/lib-base/etc/lib-base.api.md
  packages/lib-base/src/KumoStore.ts
Due: npx prettier --check

fix(test): add await for the async function call
  packages/contracts/test/BorrowerOperationsTest.js
Due: npx prettier --check

fix: navigation issue fixed in dev-frontend
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/SideNav.tsx
  packages/dev-frontend/src/components/Sidebar/Siderbar.tsx
  packages/dev-frontend/src/pages/stats.tsx
Due: none

test(contracts): web3 upgraded package causes tests fail
  packages/contracts/package.json
  yarn.lock
Due: none

fix: lib-base tests failed
  packages/lib-base/package.json
  yarn.lock
Due: none

chore: upgrade all workspace packages
  package.json
  packages/contracts/package.json
  packages/dev-frontend/package.json
  packages/dev-frontend/webpack.config.js
  packages/examples/package.json
  packages/fuzzer/package.json
  packages/lib-base/.eslintrc.json
  packages/lib-base/package.json
  packages/lib-ethers/.eslintrc.json
  packages/lib-ethers/package.json
  packages/lib-react/package.json
  packages/lib-subgraph/package.json
  packages/providers/package.json
  packages/subgraph/package.json
  yarn.lock
Due: npx prettier --check

ci: update runner checkout
  .github/workflows/release.yml
  .github/workflows/test-contracts.yml
Due: none

feat(sol): comment out KUMOStaking
  packages/contracts/contracts/Interfaces/IKUMOStaking.sol
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/Proxy/KUMOStakingScript.sol
  packages/contracts/contracts/TestContracts/KUMOStakingTester.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

refactor(sol): transform local variables into a struct
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

fix(sol): asset balance didn't increase after fee were sent to SP
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): add KUSD gains withdraw
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): merge `_getPendingAssetGain` from KUMOStaking with `_getAssetGainFromSnapshots`
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): add a separate tracker for KUSD gains and helper functions
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove redundant line
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove unused event
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol)!: remove KUMO issuance from SP
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol)!: move external functions and variables from KUMOStaking to StabilityPool
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove unused function
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol)!: send fees to SP instead of KUMOStaking
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

feat(sol): make `_updateDepositAndSnapshots` also update staking snapshots
  packages/contracts/contracts/KUMO/KUMOStaking.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove G from SP
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

refactor(sol): add `_increaseKUSD` for consistency
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

chore(sol): remove KUMO-token related code
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/StabilityPool.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

ci: make branches explicit and use types
  .github/workflows/generic-skip.yaml
  .github/workflows/release.yml
  .github/workflows/test-contracts.yml
Due: none

ci: make naming clearer
  .github/workflows/generic-skip.yaml
  .github/workflows/test-contracts.yml
Due: none

ci: separate frontend tests
  .github/workflows/release.yml
  .github/workflows/test-frontend.yml
Due: none

ci: make triggers more selective
  .github/workflows/release-test-sdk.yml
  .github/workflows/test-contracts.yml
  .github/workflows/test-frontend.yml
Due: none

ci: improve naming
  .github/workflows/release-test-sdk.yml
Due: none

chore: updated scripts run commands and version specific changes
  package.json
  packages/contracts/package.json
  packages/dev-frontend/package.json
  packages/lib-base/package.json
  packages/lib-ethers/package.json
  packages/lib-react/package.json
Due: none

chore: .gitignore updated
  .gitignore
Due: none

Path conditions:
  npx solhint --config ./packages/contracts/.solhint.json: any of: *.sol
  npx prettier --check: any of: *.{js,ts}
