Repository kumo-earth/kumo-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

.lintstagedrc:

{
  "*.sol": "npx solhint --config ./packages/contracts/.solhint.json",
  "*.{js,ts}": "npx prettier --check"
}

staking-page responsive issues fixed
  packages/dev-frontend/src/components/StakingTypeCard/StakingTypeCard.tsx
  packages/dev-frontend/src/pages/LiquidityStaking.tsx
  packages/dev-frontend/src/pages/StakingType.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

increased card modal width
  packages/dev-frontend/src/pages/StakingType.tsx
Due: none

adding padding and margins
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/LiquidatedTrove.tsx
  packages/dev-frontend/src/components/Trove/NoTrove.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/components/Trove/ReadOnlyTrove.tsx
  packages/dev-frontend/src/components/Trove/RedeemedTrove.tsx
  packages/dev-frontend/src/components/Trove/TroveEditor.tsx
  packages/dev-frontend/src/components/Trove/TroveManager.tsx
Due: none

portfolio issues fixed
  packages/dev-frontend/src/components/Trove/PortfolioTrove.tsx
  packages/dev-frontend/src/components/UserViewAlert.tsx
Due: none

fixed trove resp issues
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/LiquidatedTrove.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/components/Trove/ReadOnlyTrove.tsx
  packages/dev-frontend/src/components/Trove/RedeemedTrove.tsx
  packages/dev-frontend/src/components/Trove/TroveEditor.tsx
Due: none

redemption resp issues fixed
  packages/dev-frontend/src/components/Redemption/RedemptionManager.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

Initialize KumoParams earlier than TroveManager
  packages/contracts/contracts/Libraries/LibAppStorage.sol
  packages/lib-ethers/utils/deploy.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

stats-responsive issues fixed
  packages/dev-frontend/src/components/PriceManager.tsx
  packages/dev-frontend/src/components/RiskyTroves.tsx
  packages/dev-frontend/src/components/StatsPriceTVLChart/StatsPriceTVLChart.tsx
  packages/dev-frontend/src/components/StatsRiskyTroves/StatsRiskyTroves.tsx
  packages/dev-frontend/src/components/StatsTVCard/StatsTVCard.tsx
  packages/dev-frontend/src/components/Trove/Editor.tsx
  packages/dev-frontend/src/pages/ProtocolStats.tsx
  packages/dev-frontend/src/pages/stats.tsx
Due: none

discord link updated
  packages/dev-frontend/src/components/Sidebar/Siderbar.tsx
Due: none

close btn added for info banner
  packages/dev-frontend/src/components/Banner.tsx
Due: none

Add missing events to lib-ethers TroveManager type
  packages/contracts/hardhat.config.js
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

fixed tests with gas value issues
  packages/lib-ethers/test/MultiAssetGasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/MultiAssetHintsAdjustTrove.test.ts
Due: npx prettier --check

Add back bootstrap phase for redemptions
  packages/contracts/contracts/Facets/TroveManagerFacet.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/types/index.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

responsive changes updated
  packages/dev-frontend/.env
  packages/dev-frontend/src/App.tsx
  packages/dev-frontend/src/components/AddAssetButton.tsx
  packages/dev-frontend/src/components/AddAssetToken/AddAssetModal.tsx
  packages/dev-frontend/src/components/AddAssetToken/context/AssetViewContext.tsx
  packages/dev-frontend/src/components/AddAssetToken/context/AssetViewProvider.tsx
  packages/dev-frontend/src/components/AddAssetToken/context/types.ts
  packages/dev-frontend/src/components/AssetStats.tsx
  packages/dev-frontend/src/components/Banner.tsx
  packages/dev-frontend/src/components/InfoIcon.tsx
  packages/dev-frontend/src/components/MobWalletInstructions.tsx
  packages/dev-frontend/src/components/SideNav.tsx
  packages/dev-frontend/src/components/Sidebar/Siderbar.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/dev-frontend/src/components/WalletConnect/WalletModal.tsx
  packages/dev-frontend/src/pages/Collateral.tsx
  packages/dev-frontend/src/theme.ts
  packages/dev-frontend/src/utils/detectMob.ts
Due: npx prettier --check

fixed button alignment
  packages/dev-frontend/src/components/UserAccount.tsx
Due: none

Implementation of KUSD mint cap
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Interfaces/IKumoParameters.sol
  packages/contracts/contracts/KumoParameters.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Add tests
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/stakeDeclineTest.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Small fixes + remove CDPManagerTester
  packages/contracts/contracts/DiamondInit.sol
  packages/contracts/contracts/Facets/OwnershipFacet.sol
  packages/contracts/contracts/Facets/TroveManagerFacet.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/contracts/Interfaces/IERC165.sol
  packages/contracts/contracts/Interfaces/IERC173.sol
  packages/contracts/contracts/TestContracts/CDPManagerTester.sol
  packages/contracts/gasTest/gasCalc_Math.js
  packages/contracts/test/AccessControlTest.js
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/CollSurplusPool.js
  packages/contracts/test/FeeArithmeticTest.js
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/HintHelpers_getApproxHintTest.js
  packages/contracts/test/KUMOStakingFeeRewardsTest.js
  packages/contracts/test/SortedTrovesTest.js
  packages/contracts/test/StabilityPoolTest.js
  packages/contracts/test/StabilityPool_KUMOIssuanceTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/TroveManager_LiquidationRewardsTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/test/TroveManager_RecoveryMode_Batch_Liqudation_Test.js
  packages/contracts/test/stakeDeclineTest.js
  packages/contracts/utils/deploymentGasAndBytecode.js
  packages/contracts/utils/deploymentHelpers.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

More review fixes
  packages/contracts/contracts/MultiTroveGetter.sol
  packages/contracts/contracts/TestContracts/EchidnaTester.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

faucet banner added
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/Banner.tsx
  packages/dev-frontend/src/components/RiskyTroves.tsx
  packages/dev-frontend/src/hooks/useSwitchNetwork.ts
  packages/dev-frontend/src/hooks/useViewBanner.ts
  packages/dev-frontend/src/theme.ts
  packages/lib-ethers/src/BlockPolledKumoStore.ts
Due: npx prettier --check

updated mock asset symbols and names
  packages/dev-frontend/src/components/ColleteralCard/ColleteralCard.tsx
  packages/dev-frontend/src/components/Redemption/RedemptionManager.tsx
  packages/dev-frontend/src/components/RiskyTroves.tsx
  packages/dev-frontend/src/components/Stability/ActiveDeposit.tsx
  packages/dev-frontend/src/components/Stability/NoDeposit.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositEditor.tsx
  packages/dev-frontend/src/components/StakingTypeCard/StakingTypeCard.tsx
  packages/dev-frontend/src/components/StatsPriceTVLChart/StatsPriceTVLChart.tsx
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/LiquidatedTrove.tsx
  packages/dev-frontend/src/components/Trove/NoTrove.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/components/Trove/ReadOnlyTrove.tsx
  packages/dev-frontend/src/components/Trove/RedeemedTrove.tsx
  packages/dev-frontend/src/components/Trove/TroveEditor.tsx
  packages/dev-frontend/src/components/UserView.tsx
  packages/dev-frontend/src/hooks/DashboardContext.tsx
  packages/dev-frontend/src/pages/Dashboard.tsx
  packages/dev-frontend/src/pages/FrontendRegistration.tsx
  packages/dev-frontend/src/pages/ProtocolStats.tsx
  packages/dev-frontend/src/theme.ts
  packages/lib-base/src/constants.ts
  packages/lib-ethers/src/BlockPolledKumoStore.ts
  packages/lib-ethers/src/EthersKumoConnection.ts
  packages/lib-ethers/utils/deploy.ts
Due: npx prettier --check

More review fixes
  packages/contracts/contracts/Facets/TroveManagerFacet.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/contracts/Libraries/LibMeta.sol
  packages/contracts/hardhat.config.js
  packages/lib-ethers/package.json
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Fix tests
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/stakeDeclineTest.js
  packages/lib-ethers/test/MultiAssetHintsAdjustTrove.test.ts
Due: npx prettier --check

Add KUSDMintRemainder helper
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Interfaces/IBorrowerOperations.sol
  packages/contracts/test/BorrowerOperationsTest.js
  packages/lib-ethers/abi/BorrowerOperations.json
  packages/lib-ethers/abi/KumoParameters.json
  packages/lib-ethers/types/index.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Tried to organize functions in facets
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Facets/TroveManagerFacet.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/contracts/Interfaces/Facets/ITroveManagerFacet.sol
  packages/contracts/contracts/Interfaces/Facets/ITroveRedemptorFacet.sol
  packages/contracts/contracts/Interfaces/IKUSDToken.sol
  packages/contracts/contracts/Libraries/LibAppStorage.sol
  packages/contracts/contracts/Libraries/LibTroveManager.sol
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/test/MultiAssetGasEstimationFeeDecay.test.ts
  packages/lib-ethers/types/index.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Make KUSDMintCap asset based
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Interfaces/IBorrowerOperations.sol
  packages/contracts/contracts/Interfaces/IKumoParameters.sol
  packages/contracts/contracts/KumoParameters.sol
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/stakeDeclineTest.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Fix negative values for KUSDMintRemainder
  packages/contracts/contracts/BorrowerOperations.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Fix gas estimations
  packages/lib-ethers/test/MultiAssetHintsAdjustTrove.test.ts
Due: npx prettier --check

tokens names added
  packages/dev-frontend/src/components/AddAssetModal.tsx
  packages/dev-frontend/src/components/Redemption/RedemptionManager.tsx
  packages/dev-frontend/src/components/Trove/PortfolioTrove.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

feedback changes
  packages/contracts/contracts/KumoFaucet.sol
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/AddAssetToken/AddAssetAction.tsx
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/pages/Faucet.tsx
  packages/lib-ethers/abi/KumoFaucet.json
  packages/lib-ethers/types/index.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

frontend wip
  packages/contracts/contracts/KumoParameters.sol
  packages/dev-frontend/src/components/SideNav.tsx
  packages/dev-frontend/src/components/Sidebar/Siderbar.tsx
  packages/lib-base/src/constants.ts
  packages/lib-ethers/deployments/default/mumbai.json
  packages/lib-ethers/deployments/default/polygon-mumbai.json
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

test changes
  packages/lib-base/src/constants.ts
  packages/lib-ethers/testUtils/types.ts
  packages/lib-ethers/utils/deploy.ts
Due: npx prettier --check

setting bootstrap period back to 14 days for tests to pass
  packages/contracts/contracts/KumoParameters.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

CollSurplusPool with multi-asset supoort
  packages/contracts/test/CollSurplusPoolMultiAsset.js
  packages/contracts/test/ConnectContractsTestMultiAsset.js
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

Add additional tests
  packages/contracts/test/BorrowerOperationsTest.js
Due: npx prettier --check

removed hardcoded assets
  packages/dev-frontend/src/components/RiskyTroves.tsx
Due: none

updated wallet tooltip with issues fixed
  packages/dev-frontend/.env
  packages/dev-frontend/.env.local
  packages/dev-frontend/package.json
  packages/dev-frontend/src/components/Stability/StabilityDepositEditor.tsx
  packages/dev-frontend/src/components/WalletConnect/WalletModal.tsx
  packages/lib-base/src/constants.ts
  packages/lib-ethers/abi/KumoFaucet.json
  packages/lib-ethers/deployments/default/mumbai.json
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

wallet instructions updated
  packages/dev-frontend/src/components/WalletConnect/WalletModal.tsx
Due: none

Add FAQ section to README
  README.md
Due: none
