Repository kumo-earth/kumo-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

.lintstagedrc:

{
  "*.sol": "npx solhint --config ./packages/contracts/.solhint.json",
  "*.{js,ts}": "npx prettier --check"
}

reward-snapshot issues is fixed
  packages/dev-frontend/.env
  packages/dev-frontend/src/components/Trove/Editor.tsx
  packages/dev-frontend/src/components/Trove/ReadOnlyTrove.tsx
  packages/lib-ethers/src/ReadableEthersKumo.ts
Due: npx prettier --check

Fix SDK build
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/contracts/TroveRedemptor.sol
  packages/lib-ethers/abi/ActivePool.json
  packages/lib-ethers/abi/IStabilityPool.json
  packages/lib-ethers/abi/StabilityPool.json
  packages/lib-ethers/abi/StabilityPoolFactory.json
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/abi/TroveRedemptor.json
  packages/lib-ethers/deployments/default/mainnet.json
  packages/lib-ethers/deployments/default/mumbai.json
  packages/lib-ethers/scripts/generate-types.ts
  packages/lib-ethers/src/contracts.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/types/index.ts
  packages/lib-ethers/utils/deploy.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Move redistributeDebtAndColl, remove setAddress and SafeMath from TroveManager
  packages/contracts/contracts/Dependencies/KumoBase.sol
  packages/contracts/contracts/Dependencies/KumoMath.sol
  packages/contracts/contracts/Interfaces/IKumoParameters.sol
  packages/contracts/contracts/Interfaces/ITroveManager.sol
  packages/contracts/contracts/KumoParameters.sol
  packages/contracts/contracts/TestContracts/EchidnaTester.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/contracts/TroveRedemptor.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

lib-ethers-sdk-multi-asset-testing wip
  packages/lib-ethers/abi/StabilityPoolFactory.json
  packages/lib-ethers/package.json
  packages/lib-ethers/test/GasEstimation.test.ts
  packages/lib-ethers/test/GasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuance.test.ts
  packages/lib-ethers/test/HintsAdjustTrove.test.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/test/LiquidityMining.test.ts
  packages/lib-ethers/test/OverStay.test.ts
  packages/lib-ethers/test/Redemption.test.ts
  packages/lib-ethers/test/RedemptionGasChecks.test.ts
  packages/lib-ethers/test/RedemptionTruncation.test.ts
  packages/lib-ethers/test/stabilityPool.test.ts
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

foreach to load balance for user in stabilityPool test failing
  packages/lib-ethers/test/AllStabilityPool.test.ts
Due: npx prettier --check

increased sender balance and fixed issues
  packages/lib-ethers/accounts.json
  packages/lib-ethers/test/GasEstimation.test.ts
  packages/lib-ethers/test/GasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuance.test.ts
  packages/lib-ethers/test/HintsAdjustTrove.test.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/test/OverStay.test.ts
  packages/lib-ethers/test/Redemption.test.ts
  packages/lib-ethers/test/RedemptionGasChecks.test.ts
  packages/lib-ethers/test/RedemptionTruncation.test.ts
  packages/lib-ethers/test/StabilityPool.test.ts
Due: npx prettier --check

Diamond Standard
  packages/contracts/contracts/ActivePool.sol
  packages/contracts/contracts/Dependencies/TroveManagerModel.sol
  packages/contracts/contracts/Facets/DiamondCutFacet.sol
  packages/contracts/contracts/Facets/DiamondLoupeFacet.sol
  packages/contracts/contracts/Facets/OnwershipFacet.sol
  packages/contracts/contracts/Facets/TroveManagerFacet.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/contracts/Interfaces/Facets/ITroveManagerFacet.sol
  packages/contracts/contracts/Interfaces/Facets/ITroveRedemptorFacet.sol
  packages/contracts/contracts/Interfaces/IDiamond.sol
  packages/contracts/contracts/Interfaces/IDiamondCut.sol
  packages/contracts/contracts/Interfaces/IDiamondLoupe.sol
  packages/contracts/contracts/Interfaces/IERC165.sol
  packages/contracts/contracts/Interfaces/IERC173.sol
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/Interfaces/ITroveEvents.sol
  packages/contracts/contracts/Interfaces/ITroveManager.sol
  packages/contracts/contracts/Interfaces/ITroveManagerDiamond.sol
  packages/contracts/contracts/Interfaces/ITroveRedemptor.sol
  packages/contracts/contracts/Libraries/LibAppStorage.sol
  packages/contracts/contracts/Libraries/LibDiamond.sol
  packages/contracts/contracts/Libraries/LibKumoBase.sol
  packages/contracts/contracts/Libraries/LibMeta.sol
  packages/contracts/contracts/Libraries/LibTroveManager.sol
  packages/contracts/contracts/MultiTroveGetter.sol
  packages/contracts/contracts/StabilityPool.sol
  packages/contracts/contracts/TestContracts/CDPManagerTester.sol
  packages/contracts/contracts/TestContracts/EchidnaProxy.sol
  packages/contracts/contracts/TestContracts/EchidnaTester.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/contracts/TroveManagerDiamond.sol
  packages/contracts/contracts/TroveRedemptor.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

multi-asset SDK tests feat done
  packages/lib-ethers/test/GasEstimation.test.ts
  packages/lib-ethers/test/GasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuance.test.ts
  packages/lib-ethers/test/HintsAdjustTrove.test.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/test/LiquidityMining.test.ts
  packages/lib-ethers/test/OverStay.test.ts
  packages/lib-ethers/test/Redemption.test.ts
  packages/lib-ethers/test/RedemptionGasChecks.test.ts
  packages/lib-ethers/test/RedemptionTruncation.test.ts
  packages/lib-ethers/test/StabilityPool.test.ts
  packages/lib-ethers/testUtils/constants.ts
  packages/lib-ethers/testUtils/index.ts
  packages/lib-ethers/testUtils/types.ts
Due: npx prettier --check

increased sender balance and fixed issues
  packages/lib-ethers/accounts.json
  packages/lib-ethers/test/GasEstimation.test.ts
  packages/lib-ethers/test/GasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuance.test.ts
  packages/lib-ethers/test/HintsAdjustTrove.test.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/test/LiquidityMining.test.ts
  packages/lib-ethers/test/OverStay.test.ts
  packages/lib-ethers/test/Redemption.test.ts
  packages/lib-ethers/test/RedemptionGasChecks.test.ts
  packages/lib-ethers/test/RedemptionTruncation.test.ts
  packages/lib-ethers/test/StabilityPool.test.ts
  packages/lib-ethers/testUtils/constants.ts
  packages/lib-ethers/testUtils/index.ts
  packages/lib-ethers/testUtils/types.ts
Due: npx prettier --check

multi-asset test feat added
  packages/lib-ethers/accounts.json
  packages/lib-ethers/test/GasEstimation.test.ts
  packages/lib-ethers/test/GasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuance.test.ts
  packages/lib-ethers/test/HintsAdjustTrove.test.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/test/LiquidityMining.test.ts
  packages/lib-ethers/test/OverStay.test.ts
  packages/lib-ethers/test/Redemption.test.ts
  packages/lib-ethers/test/RedemptionGasChecks.test.ts
  packages/lib-ethers/test/RedemptionTruncation.test.ts
  packages/lib-ethers/test/StabilityPool.test.ts
  packages/lib-ethers/testUtils/constants.ts
  packages/lib-ethers/testUtils/index.ts
  packages/lib-ethers/testUtils/types.ts
Due: npx prettier --check

buttons radius design fixed
  packages/dev-frontend/.env
  packages/dev-frontend/src/components/AddAssetButton.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositEditor.tsx
  packages/dev-frontend/src/components/SwitchNetwork/SwitchNetwork.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/dev-frontend/src/components/WalletConnect/WalletModal.tsx
  packages/dev-frontend/src/pages/stats.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

remvove mocha config from package.json
  packages/lib-ethers/package.json
Due: none

minting limit issue fixed
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
Due: none

removed unused elements and updated branch with sdk muti-asset test branch
  packages/dev-frontend/src/App.tsx
  packages/dev-frontend/src/components/AssetStats.tsx
  packages/dev-frontend/src/components/Farm/views/Disabled/Disabled.tsx
  packages/dev-frontend/src/components/Farm/views/Inactive/Inactive.tsx
  packages/dev-frontend/src/components/Header.tsx
  packages/dev-frontend/src/components/InfoMessage.tsx
  packages/dev-frontend/src/components/MiningTypeCard/MiningTypeCard.tsx
  packages/dev-frontend/src/components/RiskyTroves.tsx
  packages/dev-frontend/src/components/Sidebar/Siderbar.tsx
  packages/dev-frontend/src/components/Stability/validation/validateStabilityDepositChange.tsx
  packages/dev-frontend/src/components/StakingTypeCard/StakingTypeCard.tsx
  packages/dev-frontend/src/components/StatsPieChart/StatsPieChart.tsx
  packages/dev-frontend/src/components/StatsPriceTVLChart/StatsPriceTVLChart.tsx
  packages/dev-frontend/src/components/StatsRiskyTroves/StatsRiskyTroves.tsx
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/PortfolioTrove.tsx
  packages/dev-frontend/src/components/Trove/validation/validateTroveChange.tsx
  packages/dev-frontend/src/pages/Farm.tsx
  packages/dev-frontend/src/pages/RiskyTrovesPage.tsx
Due: none

fixed terminal console lint warnings
  packages/dev-frontend/src/components/Redemption/RedemptionManager.tsx
  packages/dev-frontend/src/components/Stability/ActiveDeposit.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositEditor.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositManager.tsx
  packages/dev-frontend/src/components/Stability/Yield.tsx
  packages/dev-frontend/src/components/Stability/context/StabilityViewProvider.tsx
  packages/dev-frontend/src/components/StabilityPoolStakingCard/StabilityPoolStakingCard.tsx
  packages/dev-frontend/src/components/SystemStatsPopup.tsx
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/LiquidatedTrove.tsx
  packages/dev-frontend/src/components/Trove/NoTrove.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/components/Trove/PortfolioTrove.tsx
  packages/dev-frontend/src/components/Trove/ReadOnlyTrove.tsx
  packages/dev-frontend/src/components/Trove/RedeemedTrove.tsx
  packages/dev-frontend/src/components/Trove/TroveEditor.tsx
  packages/dev-frontend/src/components/Trove/TroveManager.tsx
  packages/dev-frontend/src/components/Trove/context/TroveViewProvider.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/dev-frontend/src/components/WalletConnect/WalletModal.tsx
  packages/dev-frontend/src/hooks/KumoContext.tsx
  packages/dev-frontend/src/hooks/useSwitchNetwork.ts
  packages/dev-frontend/src/hooks/useUserViewParam.ts
  packages/dev-frontend/src/pages/Collateral.tsx
  packages/dev-frontend/src/pages/StakingType.tsx
  packages/dev-frontend/src/pages/stats.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

sdk testswith system coverage
  packages/lib-ethers/test/GasEstimationFeeDecayMultiAsset.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuanceMultiAsset.test.ts
  packages/lib-ethers/test/GasEstimationMultiAsset.test.ts
  packages/lib-ethers/test/HintsAdjustTroveMultiAsset.test.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/test/LiquidityMining.test.ts
  packages/lib-ethers/test/OverStayMultiAsset.test.ts
  packages/lib-ethers/test/RedemptionGasChecksMultiAsset.test.ts
  packages/lib-ethers/test/RedemptionMultiAsset.test.ts
  packages/lib-ethers/test/StabilityPoolMultiAsset.test.ts
Due: npx prettier --check

sdk test extended with mith mult-asset support done
  packages/lib-ethers/test/GasEstimation.test.ts
  packages/lib-ethers/test/GasEstimationFeeDecayMultiAsset.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuanceMultiAsset.test.ts
  packages/lib-ethers/test/GasEstimationMultiAsset.test.ts
  packages/lib-ethers/test/HintsAdjustTrove.test.ts
  packages/lib-ethers/test/HintsAdjustTroveMultiAsset.test.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/test/MultiAssetFindHintsCollateralRatio.tests.ts
  packages/lib-ethers/test/MultiAssetFrontend.test.ts
  packages/lib-ethers/test/MultiAssetGasEstimation.test.ts
  packages/lib-ethers/test/MultiAssetGasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/MultiAssetGasEstimationKumoIssuance.test.ts
  packages/lib-ethers/test/MultiAssetGetPrice.test.ts
  packages/lib-ethers/test/MultiAssetHintsAdjustTrove.test.ts
  packages/lib-ethers/test/MultiAssetLiquidityMining.test.ts
  packages/lib-ethers/test/MultiAssetOverStay.test.ts
  packages/lib-ethers/test/MultiAssetRedemption.test.ts
  packages/lib-ethers/test/MultiAssetRedemptionGasChecks.test.ts
  packages/lib-ethers/test/MultiAssetRedemptionTruncation.test.ts
  packages/lib-ethers/test/MultiAssetSendableKumo.test.ts
  packages/lib-ethers/test/MultiAssetStabilityPool.test.ts
  packages/lib-ethers/test/MultiAssetTrove.tests.ts
  packages/lib-ethers/test/OverStayMultiAsset.test.ts
  packages/lib-ethers/test/Redemption.test.ts
  packages/lib-ethers/test/RedemptionGasChecks.test.ts
  packages/lib-ethers/test/RedemptionMultiAsset.test.ts
  packages/lib-ethers/test/StabilityPool.test.ts
  packages/lib-ethers/test/StabilityPoolMultiAsset.test.ts
Due: npx prettier --check

sdk test extended with mith mult-asset support done
  packages/lib-ethers/test/FindHintsCollateralRatio.tests.ts
  packages/lib-ethers/test/Frontend.test.ts
  packages/lib-ethers/test/GasEstimation.test.ts
  packages/lib-ethers/test/GasEstimationFeeDecay.test.ts
  packages/lib-ethers/test/GasEstimationFeeDecayMultiAsset.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuance.test.ts
  packages/lib-ethers/test/GasEstimationKumoIssuanceMultiAsset.test.ts
  packages/lib-ethers/test/GasEstimationMultiAsset.test.ts
  packages/lib-ethers/test/GetPrice.test.ts
  packages/lib-ethers/test/HintsAdjustTrove.test.ts
  packages/lib-ethers/test/HintsAdjustTroveMultiAsset.test.ts
  packages/lib-ethers/test/Kumo.test.ts
  packages/lib-ethers/test/LiquidityMining.test.ts
  packages/lib-ethers/test/OverStay.test.ts
  packages/lib-ethers/test/OverStayMultiAsset.test.ts
  packages/lib-ethers/test/Redemption.test.ts
  packages/lib-ethers/test/RedemptionGasChecks.test.ts
  packages/lib-ethers/test/RedemptionGasChecksMultiAsset.test.ts
  packages/lib-ethers/test/RedemptionMultiAsset.test.ts
  packages/lib-ethers/test/RedemptionTruncation.test.ts
  packages/lib-ethers/test/SendableKumo.test.ts
  packages/lib-ethers/test/StabilityPool.test.ts
  packages/lib-ethers/test/StabilityPoolMultiAsset.test.ts
  packages/lib-ethers/test/Trove.tests.ts
Due: npx prettier --check

Fix TroveOwners
  packages/contracts/contracts/Facets/TroveManagerFacet.sol
  packages/contracts/contracts/Interfaces/Facets/ITroveManagerFacet.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Fix redeemCollateral
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/test/TroveManagerTest.js
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/types/index.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Update ethers
  packages/contracts/package.json
  packages/providers/package.json
  yarn.lock
Due: none

Fix tests
  packages/contracts/test/AccessControlTest.js
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/CollSurplusPool.js
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/HintHelpers_getApproxHintTest.js
  packages/contracts/test/KUMOStakingFeeRewardsTest.js
  packages/contracts/test/OwnershipTest.js
  packages/contracts/test/ProxyBorrowerWrappersScript.js
  packages/contracts/test/SortedTrovesTest.js
  packages/contracts/test/StabilityPoolTest.js
  packages/contracts/test/StabilityPool_KUMOIssuanceTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/TroveManager_LiquidationRewardsTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/test/TroveManager_RecoveryMode_Batch_Liqudation_Test.js
  packages/contracts/test/stakeDeclineTest.js
Due: npx prettier --check

commented explicit defined default network 'dev'
  docs/sdk/lib-base.kumostorebasestate.kumotoken.md
  docs/sdk/lib-base.kumostorebasestate.kusdtoken.md
  docs/sdk/lib-base.kumostorebasestate.md
  packages/lib-ethers/hardhat.config.ts
Due: npx prettier --check

The Great Fix
  packages/contracts/contracts/DefaultPool.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/package.json
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/OwnershipTest.js
  packages/contracts/test/PoolsTest.js
  packages/contracts/test/StabilityPoolTest.js
  packages/contracts/test/TroveManager_LiquidationRewardsTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/utils/deploymentHelpers.js
  packages/contracts/utils/testHelpers.js
  packages/dev-frontend/package.json
  packages/lib-ethers/package.json
  yarn.lock
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

we should stick with same base minting values
  packages/lib-ethers/utils/deploy.ts
Due: npx prettier --check

Reverted Bootstrap period back to 14 days
  packages/contracts/contracts/KumoParameters.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

yarn run issues fixed
  packages/contracts/package.json
  packages/lib-ethers/package.json
  yarn.lock
Due: none

Fix for lib-ethers
  packages/dev-frontend/package.json
  packages/lib-ethers/package.json
  packages/lib-ethers/utils/deploy.ts
  yarn.lock
Due: npx prettier --check

commit to trigger git actions
  packages/lib-ethers/utils/deploy.ts
Due: npx prettier --check

updated safety banner to generic banner with view limit
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/Banner.tsx
  packages/dev-frontend/src/components/DomainSafetyBanner.tsx
  packages/dev-frontend/src/hooks/useViewBanner.ts
Due: npx prettier --check

hotfix
  packages/contracts/contracts/ActivePool.sol
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/CollSurplusPool.sol
  packages/contracts/contracts/DefaultPool.sol
  packages/contracts/contracts/Dependencies/KumoMath.sol
  packages/contracts/contracts/KUSDToken.sol
  packages/contracts/contracts/PriceFeed.sol
  packages/contracts/contracts/SortedTroves.sol
  packages/contracts/contracts/StabilityPool.sol
  packages/contracts/contracts/TestContracts/PriceFeedTestnet.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/errorAccumulationTest/errorAccumulationTest.js
  packages/contracts/test/AccessControlTest.js
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/CollSurplusPool.js
  packages/contracts/test/ConnectContractsTest.js
  packages/contracts/test/DefaultPoolTest.js
  packages/contracts/test/FeeArithmeticTest.js
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/HintHelpers_getApproxHintTest.js
  packages/contracts/test/KUMOIssuanceArithmeticTest.js
  packages/contracts/test/KUMOStakingFeeRewardsTest.js
  packages/contracts/test/KUSDTokenTest.js
  packages/contracts/test/OwnershipTest.js
  packages/contracts/test/PoolsTest.js
  packages/contracts/test/PriceFeedTest.js
  packages/contracts/test/SortedTrovesTest.js
  packages/contracts/test/StabilityPoolTest.js
  packages/contracts/test/StabilityPool_KUMOIssuanceTest.js
  packages/contracts/test/StabilityPool_RoundingErrors.js
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/TroveManager_LiquidationRewardsTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/test/TroveManager_RecoveryMode_Batch_Liqudation_Test.js
  packages/contracts/test/stakeDeclineTest.js
  packages/contracts/utils/deploymentHelpers.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Testing new yarn.lock
  yarn.lock
Due: none

Fix?
  packages/lib-ethers/package.json
  yarn.lock
Due: none

versions issues fixed
  packages/contracts/package.json
  packages/dev-frontend/package.json
  packages/lib-ethers/package.json
  packages/lib-ethers/utils/deploy.ts
  packages/providers/package.json
  yarn.lock
Due: npx prettier --check

Fix lib-ethers TroveManager diamond deployment
  packages/lib-ethers/abi/TroveManagerDiamond.json
  packages/lib-ethers/hardhat.config.ts
  packages/lib-ethers/scripts/generate-types.ts
  packages/lib-ethers/types/index.ts
  packages/lib-ethers/utils/deploy.ts
Due: npx prettier --check

dashboard responsive issues fixed
  packages/dev-frontend/src/components/ColleteralCard/ColleteralCard.tsx
  packages/dev-frontend/src/components/DashboardContent.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

responsive-issues wip
  packages/dev-frontend/src/components/AssetStats.tsx
  packages/dev-frontend/src/components/Banner.tsx
  packages/dev-frontend/src/components/StakingCardV1/StakingCardV1.tsx
  packages/dev-frontend/src/components/Trove/Editor.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/pages/Collateral.tsx
  packages/dev-frontend/src/pages/StabilityPoolStaking.tsx
Due: none
