Repository kumo-earth/kumo-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

.lintstagedrc:

{
  "*.sol": "npx solhint --config ./packages/contracts/.solhint.json",
  "*.{js,ts}": "npx prettier --check"
}

dashboardContext refactored
  packages/dev-frontend/src/components/MobWalletInstructions.tsx
  packages/dev-frontend/src/components/SystemStats.tsx
  packages/dev-frontend/src/hooks/DashboardContext.tsx
  packages/dev-frontend/src/pages/Dashboard.tsx
  packages/dev-frontend/src/pages/ProtocolStats.tsx
Due: none

remove asset separation for baseRate and lastFeeOperationTime
  packages/contracts/contracts/BorrowerOperations.sol
  packages/contracts/contracts/Facets/CDPManagerTesterFacet.sol
  packages/contracts/contracts/Facets/TroveManagerFacet.sol
  packages/contracts/contracts/Facets/TroveRedemptorFacet.sol
  packages/contracts/contracts/Interfaces/Facets/ITroveManagerFacet.sol
  packages/contracts/contracts/Libraries/LibAppStorage.sol
  packages/contracts/contracts/Libraries/LibTroveManager.sol
  packages/lib-ethers/abi/TroveManager.json
  packages/lib-ethers/src/ReadableEthersKumo.ts
  packages/lib-ethers/types/index.ts
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Fix tests
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/FeeArithmeticTest.js
  packages/contracts/test/KUMOStakingFeeRewardsTest.js
  packages/contracts/test/TroveManagerTest.js
Due: npx prettier --check

Fix more tests
  packages/contracts/contracts/ActivePool.sol
  packages/contracts/test/FeeArithmeticTest.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

multi-asset tests wip
  packages/contracts/contracts/KumoParameters.sol
  packages/contracts/test/CollSurplusPoolMultiAsset.js
  packages/contracts/test/MutiAssetTest/BorrowerOperations.js
  packages/contracts/test/MutiAssetTest/StabilityPool.js
  packages/contracts/test/MutiAssetTest/TroveManager.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

fixed confict issue
  packages/contracts/contracts/KumoParameters.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

conflict issue fixed
  packages/contracts/contracts/KumoParameters.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

added missing setMintCap in troveManager test
  packages/contracts/test/MutiAssetTest/TroveManager.js
Due: npx prettier --check

synpress e2e integration
  .github/workflows/release.yml
  packages/dev-frontend/.env
  packages/dev-frontend/package.json
  packages/dev-frontend/synpress.config.js
  packages/dev-frontend/tests/.eslintrc.js
  packages/dev-frontend/tests/e2e/specs/connect-wallet-spec.js
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js-compressed.mp4
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js.mp4
  packages/dev-frontend/tests/e2e/videos/connect-wallet-spec.js.mp4.meta
  packages/dev-frontend/tests/support/command.js
  packages/dev-frontend/tests/support/index.js
  packages/dev-frontend/tests/tsconfig.json
  packages/lib-ethers/abi/KumoFaucet.json
  packages/lib-ethers/types/index.ts
  yarn.lock
Due: npx prettier --check

attempt to fix CI workflow
  .github/workflows/release.yml
  package.json
  packages/lib-ethers/test/MultiAssetFrontend.test.ts
Due: npx prettier --check

Update release.yml
  .github/workflows/release.yml
Due: none

CI attempt
  .github/workflows/release.yml
  package.json
  packages/dev-frontend/.env.local
  packages/dev-frontend/package.json
  packages/dev-frontend/synpress.config.js
Due: npx prettier --check

CI attempt
  packages/dev-frontend/package.json
Due: none

CI attempt
  .github/workflows/release.yml
  packages/dev-frontend/.env
  packages/dev-frontend/package.json
  yarn.lock
Due: none

CI attempt
  package.json
  packages/dev-frontend/package.json
Due: none

CI attempt
  .github/workflows/release.yml
  packages/dev-frontend/.env.local
Due: none

CI attempt
  .github/workflows/release.yml
  packages/lib-base/src/constants.ts
Due: npx prettier --check

CI attempt
  packages/dev-frontend/synpress.config.js
  packages/dev-frontend/tests/e2e/specs/connect-wallet-spec.js
Due: npx prettier --check

CI attempt
  .github/workflows/release.yml
Due: none

CI attempt
  .github/workflows/release.yml
  packages/dev-frontend/synpress.config.js
Due: npx prettier --check

CI attempt
  packages/dev-frontend/synpress.config.js
Due: npx prettier --check

CI attemt
  packages/dev-frontend/synpress.config.js
Due: npx prettier --check
