Repository kumo-earth/kumo-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

.lintstagedrc:

{
  "*.sol": "npx solhint --config ./packages/contracts/.solhint.json",
  "*.{js,ts}": "npx prettier --check"
}

pricefeed consition added, design issues fixed
  packages/dev-frontend/src/components/PriceManager.tsx
  packages/dev-frontend/src/components/RiskyTroves.tsx
  packages/lib-base/etc/lib-base.api.md
  packages/lib-base/src/constants.ts
Due: npx prettier --check

$value added for collateral
  packages/dev-frontend/src/components/Trove/Editor.tsx
  packages/dev-frontend/src/components/Trove/ReadOnlyTrove.tsx
Due: none

saved-changes server
  packages/dev-frontend/.env
  packages/lib-base/src/constants.ts
Due: npx prettier --check

Review fixes
  packages/contracts/contracts/StabilityPoolFactory.sol
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/CollSurplusPool.js
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/HintHelpers_getApproxHintTest.js
  packages/contracts/test/KUMOStakingFeeRewardsTest.js
  packages/contracts/test/KUSDTokenTest.js
  packages/contracts/test/PoolsTest.js
  packages/contracts/test/StabilityPool_KUMOIssuanceTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalTest.js
  packages/contracts/test/StabilityPool_SPWithdrawalToCDPTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/test/TroveManager_RecoveryMode_Batch_Liqudation_Test.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

styles changes wip
  packages/dev-frontend/src/components/AddAssetModal.tsx
  packages/dev-frontend/src/components/AssetStats.tsx
  packages/dev-frontend/src/components/ColleteralCard/ColleteralCard.tsx
  packages/dev-frontend/src/components/DashboardContent.tsx
  packages/dev-frontend/src/components/DashboardHeaderItem.tsx
  packages/dev-frontend/src/components/Farm/views/Active/Active.tsx
  packages/dev-frontend/src/components/Redemption/RedemptionAction.tsx
  packages/dev-frontend/src/components/Redemption/RedemptionManager.tsx
  packages/dev-frontend/src/components/Stability/NoDeposit.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositEditor.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositManager.tsx
  packages/dev-frontend/src/components/StabilityPoolStakingCard/StabilityPoolStakingCard.tsx
  packages/dev-frontend/src/components/StakingCardV1/StakingCardV1.tsx
  packages/dev-frontend/src/components/SwitchNetwork/SwitchNetwork.tsx
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/Editor.tsx
  packages/dev-frontend/src/components/Trove/NoTrove.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/components/Trove/ReadOnlyTrove.tsx
  packages/dev-frontend/src/components/Trove/TroveAction.tsx
  packages/dev-frontend/src/components/Trove/TroveManager.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/dev-frontend/src/components/UserViewAlert.tsx
  packages/dev-frontend/src/components/WalletConnect/WalletModal.tsx
  packages/dev-frontend/src/pages/Collateral.tsx
  packages/dev-frontend/src/pages/RedemptionPage.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

design update wip
  packages/dev-frontend/src/components/Stability/NoDeposit.tsx
  packages/dev-frontend/src/pages/StakingType.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

app_version_updated
  packages/dev-frontend/.env
Due: none

Add hardhat-contract-sizer
  packages/contracts/hardhat.config.js
  packages/contracts/package.json
  yarn.lock
Due: npx prettier --check

description typo fixed
  packages/dev-frontend/src/pages/StabilityPoolStaking.tsx
Due: none

collateral value issue fixed
  packages/dev-frontend/src/components/AssetStats.tsx
Due: none

$-value issues fixed
  packages/dev-frontend/src/components/Trove/Editor.tsx
Due: none

kusd-value display fixed
  packages/dev-frontend/.env
  packages/dev-frontend/src/components/StakingTypeCard/StakingTypeCard.tsx
Due: none

routing issues fixed
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/Sidebar/Siderbar.tsx
  packages/dev-frontend/src/hooks/KumoContext.tsx
  packages/dev-frontend/src/pages/Collateral.tsx
  packages/dev-frontend/src/pages/StakingType.tsx
  packages/dev-frontend/src/pages/stats.tsx
Due: none

routing issues fixed
  packages/dev-frontend/.env
  packages/dev-frontend/package.json
  packages/dev-frontend/src/components/Link.tsx
Due: none

fontfamily styles fix
  packages/dev-frontend/src/components/ActionDescription.tsx
  packages/dev-frontend/src/components/Trove/Editor.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

updated with main branch
  packages/lib-ethers/abi/StabilityPoolFactory.json
  packages/lib-ethers/types/index.ts
Due: npx prettier --check

WIP optimizing TroveManager
  packages/contracts/contracts/Dependencies/TroveManagerHelpers.sol
  packages/contracts/contracts/Interfaces/ITroveManagerHelpers.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/test/SortedTrovesTest.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

responsive issues wip
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/DashboardHeader.tsx
  packages/dev-frontend/src/components/SideNav.tsx
  packages/dev-frontend/src/components/Sidebar/Siderbar.tsx
  packages/dev-frontend/src/components/SystemStats.tsx
  packages/dev-frontend/src/components/SystemStatsPopup.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/dev-frontend/src/components/UserViewAlert.tsx
  packages/dev-frontend/src/pages/Collateral.tsx
  packages/dev-frontend/src/pages/Farm.tsx
  packages/dev-frontend/src/pages/Portfolio.tsx
  packages/dev-frontend/src/pages/RiskyTrovesPage.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

Revert "WIP optimizing TroveManager"
  packages/contracts/contracts/Dependencies/TroveManagerHelpers.sol
  packages/contracts/contracts/Interfaces/ITroveManagerHelpers.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/test/SortedTrovesTest.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

frontend-issues fixed WIP
  packages/dev-frontend/.env
  packages/dev-frontend/public/index.html
  packages/dev-frontend/src/KumoFrontend.tsx
  packages/dev-frontend/src/components/DashboardHeaderItem.tsx
  packages/dev-frontend/src/components/SideNav.tsx
  packages/dev-frontend/src/components/Stability/ActiveDeposit.tsx
  packages/dev-frontend/src/components/SystemStats.tsx
  packages/dev-frontend/src/components/Trove/Editor.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/dev-frontend/src/pages/Collateral.tsx
  packages/dev-frontend/src/pages/Portfolio.tsx
  packages/dev-frontend/src/pages/StakingType.tsx
  packages/dev-frontend/src/theme.ts
Due: npx prettier --check

frontend-issues fixed new server
  docs/sdk/lib-base.core_team_accounts.md
  docs/sdk/lib-base.kumostorebasestate.kusdtoken.md
  docs/sdk/lib-base.kumostorebasestate.md
  docs/sdk/lib-base.kumostorebasestate.vaults.md
  docs/sdk/lib-base.md
  docs/sdk/lib-base.vault.assetname.md
  docs/sdk/lib-base.vault.md
  packages/lib-base/src/constants.ts
  packages/lib-subgraph/src/SubgraphKumo.ts
Due: npx prettier --check

WIP TroveRedemptor and friends
  packages/contracts/contracts/Dependencies/TroveManagerModel.sol
  packages/contracts/contracts/Interfaces/ITroveRedemptor.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/contracts/TroveRedemptor.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Trying to fix "Stack too deep"
  packages/contracts/contracts/TestContracts/CDPManagerTester.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/contracts/TroveRedemptor.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Fix Stack too Deep
  packages/contracts/contracts/TroveRedemptor.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

Move batchLiquidateTroves to TroveRedemptor
  packages/contracts/contracts/Interfaces/ITroveEvents.sol
  packages/contracts/contracts/Interfaces/ITroveManager.sol
  packages/contracts/contracts/Interfaces/ITroveRedemptor.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/contracts/TroveRedemptor.sol
Due: npx solhint --config ./packages/contracts/.solhint.json

prototype-ready-for-testing
  packages/dev-frontend/.env
  packages/dev-frontend/package.json
  packages/dev-frontend/src/components/AddAssetButton.tsx
  packages/dev-frontend/src/components/AddAssetModal.tsx
  packages/dev-frontend/src/components/Stability/StabilityActionDescription.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositManager.tsx
  packages/dev-frontend/src/components/Stability/validation/validateStabilityDepositChange.tsx
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/NoTrove.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/components/UserAccount.tsx
  packages/lib-base/etc/lib-base.api.md
  packages/lib-base/src/KumoStore.ts
  packages/lib-ethers/package.json
  packages/lib-ethers/scripts/liq-troves.ts
  packages/lib-ethers/scripts/spam-troves.ts
  packages/lib-ethers/src/BlockPolledKumoStore.ts
  packages/lib-ethers/utils/deploy.ts
  packages/providers/package.json
  yarn.lock
Due: npx prettier --check

Fix liquidate test
  packages/contracts/contracts/Interfaces/IStabilityPool.sol
  packages/contracts/contracts/Interfaces/ITroveManager.sol
  packages/contracts/contracts/Interfaces/ITroveRedemptor.sol
  packages/contracts/contracts/StabilityPool.sol
  packages/contracts/contracts/TestContracts/EchidnaTester.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/contracts/TroveRedemptor.sol
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/utils/deploymentHelpers.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Fix ActivePool permissions + small fixes
  packages/contracts/contracts/ActivePool.sol
  packages/contracts/contracts/TestContracts/EchidnaTester.sol
  packages/contracts/test/KUSDTokenTest.js
  packages/contracts/test/PoolsTest.js
  packages/contracts/utils/deploymentHelpers.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check

Fix Ownership and GasCompensation tests
  packages/contracts/contracts/Interfaces/ITroveRedemptor.sol
  packages/contracts/contracts/TroveManager.sol
  packages/contracts/contracts/TroveRedemptor.sol
  packages/contracts/test/GasCompensationTest.js
  packages/contracts/test/OwnershipTest.js
  packages/contracts/test/PoolsTest.js
  packages/contracts/test/TroveManager_LiquidationRewardsTest.js
Due: npx solhint --config ./packages/contracts/.solhint.json, npx prettier --check
